.date-button {
    background-color: rgba(0,0,0,0);
    border: 0;
}
.date-button:hover{
    background-color: rgba(50,220,220,0.75);
    border-radius: 50%;
}
.date-button:focus{
    outline-style: none;
}