.date-button {
    color: #444;
    background-color: rgba(0,0,0,0);
    border: 0;
}
.date-button:hover{
    outline-style: dashed;
    border-radius: 50%;
    cursor: pointer;
}
.date-button:focus{
    outline-style: none;
    box-sizing: border-box;
}